<h2>Name: <%= "#{@professor.name}" %></h2>
Age: <%= "#{@professor.age}" %><br>
Specialty: <%= "#{@professor.specialty}" %><br>
Students: <% @professor.students.each do |student| %><br>
<section id="student-<%=student.id%>">
<%= student.name %>
<%# The first argument in button_to is the text displayed. The second argument REQUIRES the action, but can take additional data. %>
<%# The final action is the HTTP Verb being passed by the button. %>
<%# The action hash can be in any order, and everything (Even the action and controller!) are passed as query params%>
<%= button_to 'Unenroll', { controller: :student_professors, student_id: student.id, action: :destroy }, method: :delete %>
</section>
<% end %>
Average Age of Students: <%= "#{@professor.students.average_age}" %>
